/* line 3, checkbox.scss */
.c-box {
  display: block;
  font-family: helvetica, sans-serif;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #eeeeee), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #eeeeee, #ffffff);
  background-image: -moz-linear-gradient(bottom, #eeeeee, #ffffff);
  background-image: -o-linear-gradient(bottom, #eeeeee, #ffffff);
  background-image: linear-gradient(bottom, #eeeeee, #ffffff);
  width: 11px;
  height: 11px;
  float: left;
  cursor: pointer;
  border: 1px solid #aaa;
  margin: 4px 6px 4px 2px;
}
/* line 16, checkbox.scss */
.c-box span.check-box {
  display: none;
  width: 11px;
  color: #000;
  height: 11px;
  font-size: 17px;
  line-height: 7px;
  margin-left: 1px;
}
/* line 26, checkbox.scss */
.c-box span.minus {
  display: none;
  line-height: 8px;
  color: #000;
  font-size: 21px;
  margin-left: 2px;
}
/* line 34, checkbox.scss */
.c-box.check {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #73a6ca), color-stop(100%, #b8dcf5));
  background-image: -webkit-linear-gradient(bottom, #73a6ca, #b8dcf5);
  background-image: -moz-linear-gradient(bottom, #73a6ca, #b8dcf5);
  background-image: -o-linear-gradient(bottom, #73a6ca, #b8dcf5);
  background-image: linear-gradient(bottom, #73a6ca, #b8dcf5);
}
/* line 36, checkbox.scss */
.c-box.check .check-box {
  display: block;
}
/* line 39, checkbox.scss */
.c-box.check .minus {
  display: none;
}
/* line 43, checkbox.scss */
.c-box.without {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #73a6ca), color-stop(100%, #b8dcf5));
  background-image: -webkit-linear-gradient(bottom, #73a6ca, #b8dcf5);
  background-image: -moz-linear-gradient(bottom, #73a6ca, #b8dcf5);
  background-image: -o-linear-gradient(bottom, #73a6ca, #b8dcf5);
  background-image: linear-gradient(bottom, #73a6ca, #b8dcf5);
}
/* line 45, checkbox.scss */
.c-box.without .check-box {
  display: none;
}
/* line 48, checkbox.scss */
.c-box.without .minus {
  display: block;
}
